# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
.cache

# juypter notebook
profile_default/
ipython_config.py

# python
*.pyc

# macOS
.DS_Store

# Project
datasets/RawData
datasets/CompileData
temp/
output/
