# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# juypter notebook
profile_default/
ipython_config.py

# macOS
.DS_Store

# Project
datasets/Spotify*
datasets/CompileData
